{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Staff</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon">
                    <img src="{% static 'img/logo.png' %}" alt="Logo KKC Cb" style="width: 40px; height: 40px;">
                </div>
                <div class="sidebar-brand-text mx-3">Kantor Kecamatan Cibinong</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'staff_dashboard' %}">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">Menu</div>

            <!-- Nav Item - Absen -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'attendance' %}">
                    <i class="fas fa-clock"></i>
                    <span>Absen</span>
                </a>
            </li>

            <!-- Nav Item - Cuti -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'leave_request' %}">
                    <i class="fas fa-plane"></i>
                    <span>Cuti</span>
                </a>
            </li>

            <!-- Nav Item - History -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'history' %}">
                    <i class="fas fa-history"></i>
                    <span>History</span>
                </a>
            </li>

            <!-- Nav Item - Profile -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">
                    <i class="fas fa-user fa-2x"></i>
                    <span>Profile</span>
                </a>
            </li>

            <!-- Nav Item - Profile -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Keluar</span>
                </a>
            </li>

            
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ username }}</span>
                                <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Salam dan Nama -->
                    <div class="row mb-4">
                        <div class="col-xl-12 col-md-12 mb-4">
                            <div class="card bg-white shadow h-70 py-3">
                                <div class="card-body text-center">
                                    <h4 class="text-gray-800">{{ greeting }}</h4>
                                    <h5 class="text-gray-600">{{ username }}</h5>
                                    <hr class="bg-primary w-50 mx-auto" style="height: 3px;">
                    </div>

                    <!-- Card dengan Button -->
                    <div class="row">
                        <div class="col-xl-12 col-md-12 mb-4">
                            <div class="card bg-primary shadow h-100 py-3">
                                <div class="card-body">
                                    <div class="row text-center">
                                        <!-- Absen -->
                                        <div class="col-md-3">
                                            <a button class="btn btn-danger btn-block" href="{% url 'attendance' %}">
                                                <i class="fas fa-clock fa-2x"></i>
                                                <div>Absen</div>
                                            </a>
                                            </button>
                                        </div>

                                        <!-- Cuti -->
                                        <div class="col-md-3">
                                            <a button class="btn btn-success btn-block" href="{% url 'leave_request' %}">
                                                <i class="fas fa-plane fa-2x"></i>
                                                <div>Cuti</div></a>
                                            </button>
                                        </div>

                                        <!-- History -->
                                        <div class="col-md-3">
                                            <a button class="btn btn-warning btn-block" href="{% url 'history' %}">
                                                <i class="fas fa-history fa-2x"></i>
                                                <div>History</div></a>
                                            </button>
                                        </div>

                                        <!-- Profil -->
                                        <div class="col-md-3">
                                            <a button class="btn btn-info btn-block" href="{% url 'profile' %}">
                                                <i class="fas fa-user fa-2x"></i>
                                                <div>Profile</div></a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
<!-- Card dengan Status Absen -->
<!-- Status Absen -->
<div class="row mb-4 text-center justify-content-center">
    <!-- Absen Masuk -->
    <div class="col-md-6">
        <div class="card-body">
            {% if absen_masuk %}
                <button class="btn btn-success btn-block">
                    <i class="fas fa-sign-in-alt fa-2x"></i>
                    <div>Absen Masuk</div>
                    <br>
                    <span class="font-weight-bold text-light display-6">Sudah Absen</span>
                </button>
            {% else %}
                <button class="btn btn-danger btn-block">
                    <i class="fas fa-sign-in-alt fa-2x"></i>
                    <div>Absen Masuk</div>
                    <br>
                    <span class="font-weight-bold text-light display-6">Belum Absen</span>
                </button>
            {% endif %}
        </div>
    </div>
 <!-- Absen Pulang -->
 <div class="col-md-6">
    <div class="card-body">
        {% if absen_pulang %}
            <button class="btn btn-success btn-block">
                <i class="fas fa-sign-out-alt fa-2x"></i>
                <div>Absen Pulang</div>
                <br>
                <span class="font-weight-bold text-light display-6">Sudah Absen</span>
            </button>
        {% else %}
            <button class="btn btn-secondary btn-block">
                <i class="fas fa-sign-out-alt fa-2x"></i>
                <div>Absen Pulang</div>
                <br>
                <span class="font-weight-bold text-light display-6">Belum Absen</span>
            </button>
        {% endif %}
    </div>
</div>
</div>

<!-- End of Page Content -->

<div>Absensi Bulan </div>

 <!-- Statistik Kehadiran -->
 <div class="row text-center">
    <!-- Hadir -->
    <div class="col-md-3">
        <div class="card bg-primary text-light shadow h-100 py-3">
            <div class="card-body">
                <i class="fas fa-user-check fa-2x"></i>
                <div>Hadir</div>
                <h3>{{ hadir_count }} Hari</h3>
            </div>
        </div>
    </div>
    <!-- Izin -->
    <div class="col-md-3">
        <div class="card bg-warning text-dark shadow h-100 py-3">
            <div class="card-body">
                <i class="fas fa-plane fa-2x"></i>
                <div>Izin</div>
                <h3>{{ izin_count }} Hari</h3>
            </div>
        </div>
    </div>
    <!-- Sakit -->
    <div class="col-md-3">
        <div class="card bg-danger text-light shadow h-100 py-3">
            <div class="card-body">
                <i class="fas fa-bed fa-2x"></i>
                <div>Sakit</div>
                <h3>{{ sakit_count }} Hari</h3>
            </div>
        </div>
    </div>
    <!-- Terlambat -->
    <div class="col-md-3">
        <div class="card bg-secondary text-light shadow h-100 py-3">
            <div class="card-body">
                <i class="fas fa-clock fa-2x"></i>
                <div>Terlambat</div>
                <h3>{{ terlambat_count }} Hari</h3>
            </div>
        </div>
    </div>
</div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Kantor Kecamatan Cibinong 2024</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
</body>

</html>
